.top{
    width: 1980px;
    height: 100px;
    background-color: lightblue;
}

.return{
    text-decoration: none;
    font-size: 25px;
    background-color: skyblue;
    border-radius: 25px;
}
.main{
    width: 1000px;
    height: 600px;
    left: 200px;
}
.myadopt{
    text-decoration: none;
    font-size: 25px;
    background-color: skyblue;
    border-radius: 25px;
    left: 1000px;
}



#toux{
    position: absolute;
    width: 120px;
    height: 120px;
    left: 300px;
}

.user{
    position: absolute;
    width: 388px;
    height: 600px;
    left: 200px;
    top: 250px;
    font-size: 25px;
}

input{
    width: 300px;
    height: 25px;
    border: 2px solid red;
    border-radius: 4px;
}
input[type=button]{
    width: 100px;
    height: 55px;
}

.img{
    /* image */
    position: absolute;
    width: 878px;
    height: 537px;
    left: 868px;
    right: 174px;
    top: 306px;
    bottom: 157px;

}